body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    padding-top: 70px;
}
  
html, body {
    height: 100%;
}
  
main {
    flex: 1;
    position: relative;
    z-index: 1;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
    padding-left: 24px;
    padding-right: 24px;
}

.propertyBadge {
    background-color: #1296a9;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
}

.customInput {
    background-color: #fff;
    border-radius: 20px;
}

.customInput .MuiOutlinedInput-root {
    height: 42px;
    border-radius: 20px;
}
  
.customInput .MuiOutlinedInput-root {
    border-radius: 20px;
    font-size: 14px;
    height: 42px;
}

.customInput .MuiInputLabel-root {
    transform: translate(14px, 9px) scale(1);
}
  
.customInput .MuiInputLabel-shrink {
    transform: translate(14px, -9px) scale(0.75);
}

.customInput .MuiOutlinedInput-notchedOutline {
    border: none;
}

.customInput .MuiSvgIcon-root {
    color: #000;
}

.customInput-alt.MuiAutocomplete-root {
    width: 125px;
}

.customInput-alt.MuiAutocomplete-root .MuiOutlinedInput-notchedOutline {
    top: 0;
}

.customInput-alt.MuiAutocomplete-root .MuiOutlinedInput-root {
    color: white;
    background-color: #1296a9;
    border-radius: 0;
    padding: 8px 10px;
    font-size: 12px;
}

.customInput-alt .MuiOutlinedInput-notchedOutline {
    border: 1px solid white;
}

.customInput-alt .MuiAutocomplete-input {
    padding: 0 !important;
    color: white;
}

.customInput-alt .MuiSvgIcon-root {
    color: white;
}

.customInput-alt.MuiAutocomplete-root .MuiOutlinedInput-notchedOutline legend {
    display: none;
}

.customInput-alt.MuiAutocomplete-root .MuiOutlinedInput-notchedOutline {
    top: 0;
    border-color: white;
}

.customInput-alt.MuiAutocomplete-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.customInput-alt.MuiAutocomplete-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
}
  
input[type="range"] {
    -webkit-appearance: none;
    background: #8d8c8c;
    height: 5px;
    border-radius: 50px;
    background-image: linear-gradient(#1296a9, #1296a9);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    width: 100%;
}
  
/* Chrome, Safari, Edge */ 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #1296a9 ;
    border-radius: 50%;
}
  
/* Firefox */
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #1296a9 ;
    border: none;
    border-radius: 50%;
}

.input {
    width: 100%;
    padding: 10px 20px 10px 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #8d8c8c;
}
  
.calculator__grid label span,
.property-page__contact label span{
    margin-bottom: 10px;
    display: block;
}

.not-found {
    padding: 0 24px;
    font-weight: bold;
}

.not-found img {
    margin-top: 10px;
    width: 200px;
}

.customInput .MuiInputLabel-root.Mui-focused,
.customInput .MuiInputLabel-root.MuiInputLabel-shrink {
    color: #333;
}

.button {
    background-color: #1296a9;
    color: #fff;
    border-radius: 20px;
    padding: 10px 0;
    width: 100%;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}